# Node dependencies
node_modules/

# Expo files
.expo/

# Environment variables (secrets)
.env
.env.example

# NPM crash logs
npm-debug.log*

# Optional: macOS folder
.DS_Store

# Optional: VSCode folder
.vscode/