# Node dependencies
node_modules/

# Environment variables (secrets)
.env
.env.example

# NPM crash logs
npm-debug.log*

# Optional: macOS folder
.DS_Store

# Optional: VSCode folder
.vscode/

# Lock files
package-lock.json
yarn.lock

# IDE
.idea/
*.swp
*.swo

# Gradle build artifacts
*.gradle
.gradle/
build/